<footer>
    <div class="footer-info">Built and designed by
        <a href="https://coltenunger.com/" target="_blank" style="text-decoration: underline;">Colten Unger</a>
    </div>
</footer>

</body>

</html>