<footer>
    <div class="footer-info1">Built and designed by
        <a href="https://coltenunger.com/" target="_blank" style="text-decoration: underline;">Colten Unger</a>
    </div>
    <div class="footer-info2">* Only works for places in the US</div>
</footer>

</body>

</html>