  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


  body {
      font-family: 'Inter', sans-serif;
      padding: 0;
      margin: 0;
  }

  a {
      color: inherit;
      text-decoration: none;
  }

  .absolute-container {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      z-index: 1;
  }

  .mesh-bg {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      background-color: hsla(225, 92%, 40%, 1);
      background-image:
          radial-gradient(at 59% 3%, hsla(215, 100%, 53%, 1) 0px, transparent 50%),
          radial-gradient(at 100% 0%, hsla(196, 100%, 32%, 1) 0px, transparent 50%),
          radial-gradient(at 0% 52%, hsla(228, 61%, 55%, 1) 0px, transparent 50%),
          radial-gradient(at 46% 92%, hsla(215, 87%, 35%, 1) 0px, transparent 50%),
          radial-gradient(at 0% 100%, hsla(198, 100%, 70%, 1) 0px, transparent 50%),
          radial-gradient(at 0% 1%, hsla(255, 94%, 66%, 1) 0px, transparent 50%),
          radial-gradient(at 100% 100%, hsla(173, 100%, 81%, 1) 0px, transparent 50%);
  }

  .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
  }

  .logo-header {
      display: flex;
      gap: 1rem;
      font-size: 5rem;
  }

  .logo-icon {
      width: 5rem;
  }

  .tagline {
      font-weight: 200;
      font-size: 1.3rem;
      color: white;
  }

  .form-flex {
      display: flex;
      flex-direction: column;
      width: 45%;
      gap: 2rem;
  }

  .input-group {
      display: flex;
      flex-direction: column;
  }

  .input-label {
      font-size: 2rem;
      font-weight: 300;
      color: #8bffff;
      margin-bottom: .5rem;
  }

  .inputBox {
      border: 2px solid white;
      border-radius: 10px;
      opacity: .7;
      padding: 1rem;
      transition: opacity ease .3s;
  }

  .inputBox:focus {
      opacity: 1;
      outline: none;
  }

  input,
  input::placeholder {
      font: 1.2rem 'Inter', sans-serif;
      color: rgba(255, 255, 255, .7);
  }

  select:focus {
      background-color: transparent;
  }

  input {
      background: transparent;
      color: white;
  }

  .search-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .3rem;
      font-family: inherit;
      font-size: 1.3rem;

      color: white;
      background: linear-gradient(270deg, #7989DE 0%, #79E4F7 100%);
      border-radius: 30px;
      border: none;
      padding: .9rem;
      transition: transform ease .3s;
  }

  .search-button:hover {
      cursor: pointer;
      transform: scale(1.03);
  }

  .search-button:active {
      transform: scale(1);
  }

  .search-icon {
      width: 1.3rem;
  }

  .footer-info {
      font-weight: 300;
      font-size: 1rem;
      position: absolute;
      left: 20px;
      bottom: 15px;
  }

  .static-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
  }

  .arrow-container {
      position: absolute;
      top: 20px;
      left: 20px;
  }

  .arrow-icon {
      width: 32px;
      height: 32px;
  }

  .weather-wrapper {
      display: flex;
      justify-content: inherit;
      align-items: inherit;
      flex-direction: column;
      width: 100%;
      max-width: 693px;
      min-width: 220px;
  }

  .header-content {
      display: flex;
      align-items: center;
      flex-direction: inherit;
      padding: 1rem;
  }

  .city-title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
  }

  .date-title {
      width: fit-content;
      font-size: 1.2rem;
      padding: 8px 16px 8px 16px;
      border-radius: 30px;
      color: white;
      background-color: black;
  }

  .weather-condition {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 1.2rem;
      margin-bottom: 1.5rem;
  }

  .temperature {
      font-weight: 500;
      font-size: 10rem;
  }

  .rectangular-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-radius: 10px;
      background-color: black;
      color: white;
  }

  .weather-item {
      width: 215px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
      margin: 3rem 0 3rem 0;
  }

  .weather-icon {
      height: 45px;
      width: 45px;
  }

  .info {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 2.5rem;
      margin-bottom: .5rem;
  }

  .criteria {
      font-size: 1rem;
  }

  .error-message {
      font-weight: 500;
      text-align: center;
      font-size: 1rem;
  }

  /* MEDIA QUERIES */
  @media (max-width: 768px) {

      .logo-header {
          font-size: 3rem;
      }

      .logo-icon {
          width: 4rem;
      }

      .tagline {
          font-size: 1rem;
      }

      .form-flex {
          width: 55%;
      }

      .input-label {
          font-size: 1.5rem;
      }

      input,
      input::placeholder {
          font: 1rem 'Inter', sans-serif;
      }

      .search-button {
          font-size: 1.2rem;
      }

      .search-icon {
          width: 1.2rem;
      }

      .search-button:hover {
          cursor: default;
          transform: none;
      }

      .search-button:active {
          transform: scale(.95);
      }

      .footer-info {
          font-size: .8rem;
      }

      .weather-wrapper {
          gap: 4rem;
          max-width: 618px;
          min-width: 206px;
      }

      .weather-item {
          width: 206px;
      }

      .weather-icon {
          height: 40px;
          width: 40px;
      }
  }

  @media (max-width: 430px) {

      .logo-header {
          font-size: 2.5rem;
      }

      .logo-icon {
          width: 3.5rem;
      }

      .form-flex {
          width: 70%;
      }

      .input-label {
          font-size: 1.3rem;
      }

      .inputBox {
          border: 1px solid white;
      }

      input,
      input::placeholder {
          font: .8rem 'Inter', sans-serif;
      }

      .search-button {
          font-size: 1rem;
          font-weight: 300;
          padding: .5rem;
      }

      .search-button:active {
          transform: scale(0.95);
      }

      .search-icon {
          width: 1rem;
      }

      .footer-info {
          visibility: hidden;
      }

      .arrow-icon {
          width: 28px;
          height: 28px;
      }

      .weather-wrapper {
          gap: 2rem;
          max-width: 372px;
          min-width: 124px;
      }

      .city-title {
          font-size: 1.8rem;
      }

      .date-title {
          font-size: 1rem;
      }

      .weather-condition {
          font-size: 1.3rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
      }

      .temperature {
          font-size: 9rem;
      }

      .rectangular-box {
          width: 100%;
      }

      .weather-item {
          width: 124px;
          padding: 0 1rem 0 1rem;
          margin: 2rem 0 2rem 0;
      }

      .weather-icon {
          height: 30px;
          width: 30px;
      }

      .temperature {
          font-size: 8rem;
      }

      .info {
          font-size: 1rem;
          margin-top: 1.8rem;
          margin-bottom: .4rem;
      }

      .criteria {
          font-size: .8rem;
      }
  }

  /* MOVING GRADIENT BG */
  :root {
      --color-bg1: rgb(11, 74, 168);
      --color-bg2: rgb(9, 54, 121);
      --color1: 18, 113, 255;
      --color2: 70, 96, 211;
      --color3: 160, 255, 244;
      --color4: 0, 120, 165;
      --color5: 102, 209, 255;
      --color6: 140, 100, 255;
      --circle-size: 80%;
      --blending: hard-light;
  }

  .gradient-bg {
      width: 100vw;
      height: 100vh;
      position: relative;
      overflow: hidden;
      background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
      top: 0;
      left: 0;
  }

  .gradient-bg svg {
      display: none;
  }

  .gradient-bg .gradients-container {
      filter: url(#goo) blur(40px);
      width: 100%;
      height: 100%;
  }

  .gradient-bg .g1 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
      transform-origin: center center;
      animation: moveVertical 30s ease infinite;
      opacity: 1;
  }

  .gradient-bg .g2 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
      transform-origin: calc(50% - 400px);
      animation: moveInCircle 20s reverse infinite;
      opacity: 1;
  }

  .gradient-bg .g3 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2 + 200px);
      left: calc(50% - var(--circle-size) / 2 - 500px);
      transform-origin: calc(50% + 400px);
      animation: moveInCircle 40s linear infinite;
      opacity: 1;
  }

  .gradient-bg .g4 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
      transform-origin: calc(50% - 200px);
      animation: moveHorizontal 40s ease infinite;
      opacity: 0.7;
  }

  .gradient-bg .g5 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
      width: calc(var(--circle-size) * 2);
      height: calc(var(--circle-size) * 2);
      top: calc(50% - var(--circle-size));
      left: calc(50% - var(--circle-size));
      transform-origin: calc(50% - 800px) calc(50% + 200px);
      animation: moveInCircle 20s ease infinite;
      opacity: 1;
  }

  .gradient-bg .g6 {
      position: absolute;
      background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
      mix-blend-mode: var(--blending);
      width: 100%;
      height: 100%;
      top: -50%;
      left: -50%;
      opacity: 0.7;
  }

  /* KEYFRAMES */
  @keyframes moveInCircle {
      0% {
          transform: rotate(0deg);
      }

      50% {
          transform: rotate(180deg);
      }

      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes moveVertical {
      0% {
          transform: translateY(-50%);
      }

      50% {
          transform: translateY(50%);
      }

      100% {
          transform: translateY(-50%);
      }
  }

  @keyframes moveHorizontal {
      0% {
          transform: translateX(-50%) translateY(-10%);
      }

      50% {
          transform: translateX(50%) translateY(10%);
      }

      100% {
          transform: translateX(-50%) translateY(-10%);
      }
  }